@font-face {
	font-family: "Saeculum";
	src: url('./blufonts/Saeculum/Saeculum.eot');
	src: local('***'), url('./blufonts/Saeculum/Saeculum.ttf') format('truetype');
} 

@font-face {
	font-family: "MyriadWebPro";
	src: url('./blufonts/MyriadWebPro/MyriadWebPro.eot');
	src: local('***'), url('./blufonts/MyriadWebPro/MyriadWebPro.ttf') format('truetype');
} 

body 
{
	font-family: "Oxygen";  /*"Averia Libre";*/
	font-size: 12px;
	color: #999999;
	line-height: 24px;
	margin: 80px;
	background-color: #000000;
}

#titlesection
{
	margin-bottom: 40px;
}


#mainsection
{
	margin-bottom: 40px;
	text-align:justify;
}

#scrollcontent
{
	overflow:hidden;
	position: relative;
}

.gallery
{
	display: block;
}

.line 
{
	font-size: 18px;
	display: block;
	height: 30px;
	vertical-align:middle;
	text-align:center;
}


.navigateforward
{
	display: inline-block;
	position: static;
	float: right;
    width: 32px;
    height: 100%;
	text-align: right;
	font-weight: bold;
	font-size: 32px;
	cursor:pointer;
    overflow:hidden; 
}

.navigateback
{
	display: inline-block;
	position: static;
	float: left;
    width: 32px;
    height: 100%;
	font-weight: bold;
    font-size: 32px;
    cursor:pointer;
    overflow:hidden; 
}

.galleryscroller
{
	position: static;
	
	margin: 0px 0px 0px 0px;
    white-space: nowrap;
    overflow:hidden; 
    
}

.flickrimg
{
	height: 400px;
	margin: 0px;
	cursor: pointer; 
}

#backtoimagesets
{
	cursor: pointer;
}

.imgsetcontainer
{
	position: relative;
	display: inline;
	border: none;
}

img 
{
	border: none;
	margin: 0px;
	padding: 0px;	
	
}


.navigate
{
	background-color: #000000;
 	font-family: "Dosis";  /*"Averia Libre";*/
 	
 	  
   font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	
	  filter:alpha(opacity=60);
	  -moz-opacity:0.6;
	  -khtml-opacity: 0.6;
	  opacity: 0.6;
	
	  position: relative;
	margin-top: 310px;
}

.overlay
{
	background-color: #000000;
 	font-family: "Dosis";  /*"Averia Libre";*/
 	padding-top: 10px;
 	padding-left: 10px;
 	padding-bottom: 6px;  
   font-size: 16px;
	color: #FFFFFF;
	  position:absolute;
	  left: 0px;
	  bottom:0px;
	  filter:alpha(opacity=60);
	  -moz-opacity:0.6;
	  -khtml-opacity: 0.6;
	  opacity: 0.6;
	  height: 30px;
	  width: 100%;
}

#title_martijn
{
	font-family: "Dosis";  /*"Averia Libre";*/
	font-size: 48px;
	color: #999999;
}

#title_photography
{
	font-family: "Dosis";  /*"Averia Libre";*/
	font-size: 48px;
	color: #555555;
}
